// Monokrom
$background-color: #300;
$element-color: #c47c7c;
$font-color: #f7f0f0;


// Svartvitt
/*
$background-color: #121212;
$element-color: #777;
$font-color: #FAF9F6;
*/

$font-sans-serif: 'Poppins', sans-serif;
$font-serif: 'Anybody', serif;
