// Analog
/*
$background-color: #FFF5F0;
$element-color: #FFBE9C;
$font-color: #1A0505;
*/

// Triad
/*
$background-color: #F7F0F0;
$element-color: #CDCD88;
$font-color: #021E33;
*/

// Monokrom
$background-color: #ede9e1;
$element-color: #fcdca4;
$font-color: #332000;

$font-sans-serif: 'Poppins', sans-serif;
$font-serif: 'Anybody', serif;
