.header {
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: solid 1px $black;
  margin-bottom: 10px;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav {
  li a {
    font-size: 1.1em;
    color: $black;
  }

  li {
    margin-right: 5px;
    position: relative;
    border: solid 2px $black;
  }

  li:hover {
    background-color: $yellow;
  }

  li:hover a {
    color: $black;
  }

  .active a {
    color: $white;
  }

  .active {
    background-color: $black;
  }
}

/* Logo and title */

.title,
.logo {
  padding: 3em 2em 3em 0;
}

.title h1:hover,
.title p:hover {
  color: $yellow;
}

.logo img {
  max-width: 125px;
}

@media (max-width: 767px) {
  .title,
  .logo {
    padding: 1em 1em 1em 0;
  }

  .title {
    min-width: 50%;
  }

  .logo img {
    max-width: 100px;
  }
}

.title * {
  color: $black;
}

.title p {
  font-style: italic;
  margin-top: -15px;
}
