/* TECHNOLOGIES SIDA */

.landing-page {
  display: grid;
  gap: 1em;
  text-align: center;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 75px repeat(4, 1fr);
}

.landing-page h1 {
  grid-column: span 3;
  justify-self: center;
}

.box a {
  text-decoration: none;
  color: $black;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.box {
  border: solid 2px $black;
}

.box:hover {
  background-color: $yellow;
}

.css,
.git,
.php {
  grid-column: span 1;
}

.html,
.sqlite,
.javascript {
  grid-column: span 2;
}

.python {
  grid-column: span 3;
}

/* TECHNOLOGY SIDA */

.technology {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.technology,
.article {
  width: 70%;
}

.technology .menu {
  width: 20%;
}

.technology .menu .box {
  margin: 1em 0;
}

@media screen and (max-width: 960px) {
  .wrapper {
    max-width: 100%;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 75px repeat(7, 50px);
  }

  .css,
  .html,
  .javascript,
  .php,
  .python,
  .git,
  .sqlite {
    grid-column: 1/2;
  }

  .technology .menu {
    display: none;
  }

  .technology .article {
    width: 100%;
  }
}



