/* TECHNOLOGIES SIDA */

.landing-page {
  display: grid;
  gap: 1em;
  text-align: center;
}

.wrapper {
  max-width: 960px;
  width: 80vw;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr repeat(4, 1fr);
}

.landing-page h1 {
  grid-column: span 3;
  justify-self: left;
}

.box a {
  text-decoration: none;
  color: $font-color;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.box {
  border: solid 2px $font-color;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  background-color: $background-color;
}

.box:hover {
  background-color: $element-color;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  transform: translateY(-0.25em);
}

.css,
.git,
.php,
.colors,
.load,
.design-principles {
  grid-column: span 1;
}

.html,
.sqlite,
.javascript {
  grid-column: span 2;
}

.python {
  grid-column: span 3;
}

/* TECHNOLOGY SIDA */

.technology {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.technology,
.article {
  width: 70%;
}

.technology .menu {
  width: 20%;
}

.technology .menu .box {
  margin: 1em 0;
}

@media screen and (max-width: 560px) {
  .wrapper {
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 75px repeat(7, 50px);
  }

  .css,
  .html,
  .javascript,
  .php,
  .python,
  .git,
  .sqlite,
  .colors,
  .load,
  .design-principles {
    grid-column: 1/2;
  }

  .technology .menu {
    display: none;
  }

  .technology .article {
    width: 100%;
  }

  .main h1 {
    font-size: 2em;
  }
}



